################################################################################
# Visual Studio / Rider / VS Code
################################################################################
.vs/
.idea/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Build / Output folders (.NET)
################################################################################
**/bin/
**/obj/
**/TestResults/
**/artifacts/

################################################################################
# NuGet
################################################################################
**/packages/
*.nupkg
*.snupkg

################################################################################
# Logs
################################################################################
*.log

################################################################################
# OS files
################################################################################
.DS_Store
Thumbs.db

################################################################################
# Environment / Secrets
################################################################################
.env
.env.*
secrets.json

# Appsettings (keep example files, ignore real dev settings)
**/appsettings.Development.json
**/appsettings.Local.json

################################################################################
# Firebase Credentials / Keys / Certificates (IMPORTANT)
################################################################################
**/Credentials/
**/credentials/
**/*firebase*.json
**/*service-account*.json
**/*adminsdk*.json
**/*.pfx
**/*.pem
**/*.key

################################################################################
# Node / Frontend
################################################################################
**/node_modules/
**/.next/
**/dist/
**/build/

**/Migrations/
**README.md
/OnlineCourseSystem.Notifications/Migrations/20251223205341_InitialNotificationsSchema.cs
/OnlineCourseSystem.Notifications/Migrations/20251227141215_AddUserReferenceTable.cs
/OnlineCourseSystem.Notifications/Migrations/20251227175107_update UserReference.cs
/OnlineCourseSystem.Notifications/Migrations/20251227180224_Add EmailOutbox, PushOutbox, UserDevices entities.cs
/OnlineCourseSystem.Notifications/Migrations/20260115130852_AddScheduledNotificationsTable.cs
/OnlineCourseSystem.Notifications/Migrations/20260119130641_AddUserNotificationDeliveriesTable.cs
/OnlineCourseSystem.Notifications/Migrations/NotificationsDbContextModelSnapshot.cs
/OnlineCourseSystem.Notifications/README.md
/OnlineCourseSystem.Notifications/appsettings.Development.json
/OnlineCourseSystem.Notifications/firebase-messaging-sw.js
/OnlineCourseSystem.Notifications/LINKEDIN_POST.md
